<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.common" />
    <context:component-scan base-package="com.message"/>
    <bean id="serviceConfig" class="com.common.base.ServiceConfig" >
        <property name="host" value="localhost"/>
        <property name="port" value="5672"/>
    </bean>
    <bean id="rmQueue" class="com.common.base.RMQueue">
        <property name="exchangeName" value="test"/>
        <property name="routingKey" value="test"/>
    </bean>
</beans>